body {
}
        .webGrid {
            margin: 4px;
            border-collapse: collapse;
            /*width: 300px;*/
            background-color: #FCFCFC;
        }

        .header {
            background-color: #C1D4E6;
            font-weight: bold;
            color: #FFF;
        }

        .webGrid th, .webGrid td {
            border: 1px solid #C0C0C0;
            padding: 5px;
        }

        .alt {
            background-color: #FCFCFC;
            color: #000;
        }

        .gridHead a:hover {
            text-decoration: underline;
        }

        .description {
            width: auto;
        }

        .select {
            background-color: #E4E9F5;
        }

        .delete{
            margin: 4px;
            /*width: 200px;*/
            background-color: #FCFCFC;
        }


